		<!-- Header -->
			<header id="header">
				<h1 id="logo"><a href="index.html">Clojure/West</a> by <a href="http://www.cognitect.com">Cognitect</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="http://twitter.com/ClojureWest" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="http://clojure-conj.org">Clojure/conj</a>
						<li><a href="http://euroclojure.org">EuroClojure</a>
						<li class="submenu">
							<a href="">Information</a>
							<ul>
								<li class="current"><a href="index.html">Home</a></li>
								<li><a href="speakers">Speakers</a></li>
								<li><a href="training">Training</a></li>
								<li><a href="opportunity">Opportunity Grants</a></li>
								<!-- <li><a href="schedule">Schedule</a></li> -->
                                <li><a href="sponsorship">Sponsorship</a></li>
                                <li><a href="policies">Policies</a></li>
							</ul>
						</li>
						<!-- FOR REGISTRATION:
						<li><a href="http://eventbritesomethingorother" class="button special">register</a></li>
							-->
					</ul>
				</nav>
			</header>
