<!DOCTYPE html>
<html>
	{% include head.html %}

	<body class="index loading">
		<div class="alt">
		{% include header.html %}
	</div>
		
		<!-- Banner -->		
			<section id="banner">
				
				<!--
					".inner" is set up as an inline-block so it automatically expands
					in both directions to fit whatever's inside it. This means it won't
					automatically wrap lines, so be sure to use line breaks where
					appropriate (<br />).
				-->
				<div class="inner">
					
					<header>
					  <h2>clojure / west</h2>
					</header>
					<p>april 20-22, 2015<br>
					  Portland, Oregon<br>
				  </p>
					<footer>
						<ul class="buttons vertical">
							<li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
						</ul>
					</footer>
				
				</div>
				
			</section>
		
			<!-- Main -->
			<article id="main">
			
				<header class="special container">
					<span class="icon fa-bar-chart-o"></span>
					<h2>Join us for Clojure/west</h2>
					<p>We are excited to return to Portland this year for Clojure/West!<br>
					   Currently we are seeking <a href="sponsorship">sponsors</a> for the conference.<br>
					   <a href="https://clojurewest2015.eventbrite.com/">Registration</a> is now open for $350.<br>
					   <a href="training">Training</a> is available on April 18th and 19th.<br>
					   The <a href="speakers">list of speakers</a> is now available!</p>
				</header>
				<!-- One -->                
					<section class="wrapper style1 container special">
						  <h2>schedule</h2>
                          <div class="row">
							<div class="4u">
							
								<section>
									
									<img src="images/20.png" width="150" height="112" alt=""/>
									<header>
<h3>monday </h3>
									</header>
									<p>9 am-5 pm - Sessions<br>
									   7 pm-10 pm - Unsessions</p>
								</section>
							
							</div>
							<div class="4u">
							
								<img src="images/21.png" width="146" height="113" alt=""/>
								<section>
<header>
		    <h3>tuesday</h3>
								  </header>
									<p>9 am-5 pm - Sessions<br>
									   7 pm-10 pm - Party</p>
							  </section>
							
						  </div>
							<div class="4u">
							
								<img src="images/22.png" width="145" height="111" alt=""/>
								<section>
<header>
		    <h3>wednesday</h3>
									</header>
									<p>9 am-noon - Sessions</p>
								</section>
							
							</div>
						</div>

				      <ul class="buttons">
					      <li><a href="speakers" class="button">list of speakers</a></li>
				      </ul>

					</section>

					<!-- Two -->
					<!--
						<section class="wrapper style2 container special-alt">
							<div class="row half">
								<div class="8u">
							
									<a id="cfp"/>
									<header>
									  <h2>CALL FOR PRESENTATIONS IS OPEN<br>
								      </h2>
									</header>
									<p>Please submit your talks for Clojure/West in the areas of core language, libraries, tools, experience reports, ideas, or just something fun! Speakers receive free admission, US airfare (or $550 stipend if international), and up to 4 room nights at the conference hotel. The CFP closes Feb 11th with notification by Feb 27th.</p>
									<footer>
										<ul class="buttons">
											<li><a href="https://cognitect.wufoo.com/forms/clojurewest-2015-call-for-presentations/" class="button">Submit a talk</a></li>
										</ul>
									</footer>
							
								</div>
								<div class="4u skel-cell-important">
							
									<ul class="feature-icons">
										<li><span class="icon fa-clock-o"><span class="label">Feature 1</span></span></li>
										<li><span class="icon fa-volume-up"><span class="label">Feature 2</span></span></li>
										<li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
										<li><span class="icon fa-inbox"><span class="label">Feature 4</span></span></li>
										<li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
										<li><span class="icon fa-cog"><span class="label">Feature 6</span></span></li>
									</ul>
							
								</div>				
							</div>
						</section>
						-->	
					
				<!-- Three -->
					<section class="wrapper style3 container special">
					
						<header class="major">
						  <h2><a id="location"/>location</h2>
						</header>
				
							<section>
								<a href="http://www.pcs.org/about-the-armory/" class="image"><img src="images/theater.jpg" alt="Gerding Theater" /></a>
								<header>
								  <h3>&nbsp;<br>gerding theater</h3>
								</header>
								<p>128 NW Eleventh Avenue <br>
								   Portland, OR 97209 </p>
							</section>
							

						<div class="row">
							<div class="6u">
								
								<section> <a href="http://embassysuites3.hilton.com/en/hotels/oregon/embassy-suites-portland-downtown-PDXPSES/index.html" class="image feature"><img src="images/embassysuites.jpg" alt="Embassy Suites Portland Downtown" width="400" title="Embassy Suites" /></a>
									<header>
									  <h3>embassy suites portland downtown</h3>
									</header>
									<p>319 SW Pine Street <br>
									  Portland, OR 97204 <br>
									  (503)-279-9000 <br>
									  <a href="http://embassysuites.hilton.com/en/es/groups/personalized/P/PDXPSES-CWC-20150415/index.jhtml">Reserve your hotel room</a>, $174/night </p>
								</section>							
							
							</div>
							<div class="6u">
							
								<section>
									<a href="http://trimet.org/max/" class="image feature"><img src="images/airports.jpg" alt="airport" /></a>
									<header>
									  <h3>airport</h3>
									</header>
									<p> Portland International Airport (PDX): <br>									  
									  40 minutes via <a href="http://trimet.org/max/">MAX Red Line</a> ($2.50) or ~ $30 Taxi </p>
								</section>

							</div>
						</div>

						<!--
						<footer class="major">
							<ul class="buttons">
								<li><a href="#" class="button">See More</a></li>
							</ul>
						</footer>
						-->
							
					</section>
					
				<!-- Sponsors -->
					<section class="wrapper style3 container special">

							<section>
								<header>
								  <h2>platinum sponsors</h2>
								</header>
							</section>
						
						<div class="row half">
							<div class="4u">								
								<section> 
									<a href="http://www.factual.com/" class="logo"><img src="images/sponsors/factual.png" alt="Factual" width="220" title="Factual" /></a>
								</section>														
							</div>
							
							<div class="4u">
								<section> 
									<a href="http://www.staples-sparx.com/" class="logo"><img src="images/sponsors/sparx.jpg" alt="SparX" width="220" title="SparX" /></a>
								</section>														
							</div>
							
							<div class="4u">
								<section> 
									<a href="http://www.walmartlabs.com/" class="logo"><img src="images/sponsors/walmartlabs.jpg" alt="WalmartLabs" width="220" title="WalmartLabs" /></a>
								</section>														
							</div>
							
						</div>

							<section>
								<header>
								  <h2>gold sponsors</h2>
								</header>
							</section>

						<div class="row half">
							<div class="4u">								
								<section> 
									<a href="http://welcome.mayvenn.com/" class="logo"><img src="images/sponsors/Mayvenn-Logo.png" alt="Mayvenn" width="180" title="Mayvenn" /></a>
									<p></p>
								</section>														
							</div>
							<div class="4u">								
								<section> 
									<a href="http://quintype.com/" class="logo"><img src="images/sponsors/quintype.png" alt="Quintype"  title="Quintype" /></a>
									<p></p>
								</section>														
							</div>
							<div class="4u">								
								<section> 
									<a href="https://www.fundingcircle.com/" class="logo"><img src="images/sponsors/fc-logo.png" alt="Funding Circle" width="180" title="Funding Circle" /></a>
									<p></p>
								</section>														
							</div>							
						</div>
						
						 	<section>
								<header>
								  <h2>silver sponsors</h2>
								</header>
							</section>
						
						<div class="row half">
							<div class="12u">								
								<section> 
									<a href="http://www.simple.com/" class="logo"><img src="images/sponsors/simple.gif" alt="Simple" width="160" title="Simple" /></a>
									<p></p>
								</section>														
							</div>
						</div>

							<section>
								<header>
								  <h2>party sponsor</h3>
								</header>
							</section>
		
						<div class="row half">
							<div class="12u">								
								<section> 
									<a href="http://puppetlabs.com/" class="logo"><img src="images/sponsors/puppet.png" alt="Puppet Labs" width="160" title="Puppet Labs" /></a>
									<p></p>
								</section>														
							</div>
						</div>
						
							<section>
								<header>
								  <h2>lanyard sponsor</h2>
								</header>
							</section>
						
						<div class="row half">
							<div class="12u">								
								<section> 
									<a href="http://welcome.mayvenn.com/" class="logo"><img src="images/sponsors/Mayvenn-Logo.png" alt="Mayvenn" width="180" title="Mayvenn" /></a>
								</section>														
							</div>
						</div>


						<!--
						<footer class="major">
							<ul class="buttons">
								<li><a href="#" class="button">See More</a></li>
							</ul>
						</footer>
						-->
							
					</section>					
					
			</article>

		<!-- CTA -->
			<section id="cta">
			
				<header>
				  <h2>Ready to <strong>join us</strong>?</h2>
				</header>
				<footer>
					<ul class="buttons">
					  <li><a href="https://clojurewest2015.eventbrite.com/" class="button special">register</a></li>
					  <li><a href="sponsorship" class="button">sponsor</a></li>
					  <!-- <li><a href="https://cognitect.wufoo.com/forms/clojurewest-2015-call-for-presentations/" class="button">submit talk</a></li> -->
					</ul>
				</footer>
			
			</section>	
		
		{% include footer.html %}
	</body>
</html>
