<!DOCTYPE html>
<html>
{% include head.html %}

<body class="index loading">
	<div class="alt">
	  {% include header.html %}
	</div>

	<section id="banner">
				
		<!--
			".inner" is set up as an inline-block so it automatically expands
			in both directions to fit whatever's inside it. This means it won't
			automatically wrap lines, so be sure to use line breaks where
			appropriate (<br />).
		-->
		<div class="inner">
					
			<header>
				<h2>clojure / west</h2>
			</header>
			<p>april 15-16, 2016<br>
				seattle, washington<br>
			</p>
			<footer>
				<img src="images/clojure.png" height="149" width="150" alt="Clojure"/>
      	<br>
				<br>
				<ul class="buttons vertical">
					<li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
				</ul>
			</footer>
				
		</div>		
	</section>
		
			<!-- Main -->
	<article id="main">
		<header class="special container">
			<span class="icon fa-bar-chart-o"></span>
			<h2>Clojure/west 2016</h2>
			<p>Seattle, Washington<br/>
				 Seattle Marriott Waterfront<br/>
				 April 15, 9:00 am - April 16, 6:00 pm<br/>
						 
			<br/>

			<h2>About Clojure/west</h2>
			<p>Clojure/west is the biggest Clojure conference in the western United States.<br/>
					Founded in 2012, the conference is a great place to meet Clojure developers and<br/>
					learn about what is happening in the language, in the community, and in companies<br/>
					using Clojure.</p>
			<br/>
			<p>This year's event will be held for the first time in Seattle, Washington.<br/>
					Last year's event in Portland was the biggest yet with 450 attendees and we<br/>
					expect to be as big or bigger this year.</p>

			<!--
			<h2>Call for Presentations</h2>
			<p>The Clojure/west <a href="cfp">Call for Presentations</a> is open until Jan 29th!</p>
			<br/>
			-->

			<h2>Registration</h2>
			<p>Registration for Clojure/west will start on Wed Feb 3rd at noon Pacific time. A limited<br/>
				number of early bird tickets will be available for $350 and then regular tickets will be $400.<br/>
				Pre-conference <a href="training">training</a> is available for Clojure (2 days, $300) and Datomic (1 day, $200).</p>
			<br/>
			
			<h2>Opportunity Grants</h2>
			<p>The Clojure/west <a href="opportunity">Opportunity Grants</a> are open until Feb 22nd!<br/>
				Opportunity grants support community members from underrepresented groups who would not<br/>
				otherwise be able to attend the conference for financial reasons.</p>
			<br/>
			
			<ul class="buttons">
 			  <li><a href="https://ti.to/cognitect/clojure-west-2016" class="button special">register</a></li>
			  <!-- <li><a href="cfp" class="button special">submit talk</a></li> -->
			  <li><a href="opportunity" class="button special">opportunity grant</a></li>
 			  <li><a href="sponsorship" class="button special">become a sponsor</a></li>
			  <!-- <li><a href="http://go.cognitect.com/l/46282/2015-12-18/2lzbzx" class="button special">mailing list</a></li> -->
		 	</ul>

		</header>

	<section class="wrapper style3 container special">

					<h2>training schedule</h2>
								<table><tbody>
									<tr>
										<th class="recess">Wed Apr 13</th>
										<th class="recess">Room 1</th>
										<th class="recess">Room 2</th>
									</tr>
									<tr>
										<td class="time">9:00-5:00 pm</td>
										<td class="slot talk">
											<div class="title"><a href="training#clojure">Intro to Clojure</a></div>
										    <div class="speaker">Alex Miller</div>
										</td>
										<td class="slot">
										</td>
									</tr>
									<tr>
										<th class="recess">Thu Apr 14</th>
										<th class="recess">Room 1</th>
										<th class="recess">Room 2</th>
									</tr>
									<tr>
										<td class="time">9:00-5:00 pm</td>
										<td class="slot talk">
											<div class="title"><a href="training#clojure">Intro to Clojure</a></div>
										    <div class="speaker">Alex Miller</div>
										</td>
										<td class="slot talk">
											<div class="title"><a href="training#datomic">Datomic Workshop</a></div>
											<div class="speaker">Stuart Sierra</div>
										</td>
									</tr>
								</tbody></table>										
						
							<h2>conference schedule</h2>

			<ul class="buttons">
			  <li><a href="speakers" class="button special">full speaker list</a></li>
			</ul>
			
								<header><h3>friday, apr 15</h3></header>
								<table><tbody>
									<tr>
										<th class="recess">&nbsp;</th>
										<th class="recess">Ballroom</th>
									</tr>
									<tr>
										<td class="time">9:00-5:00 pm</td>
										<td class="slot recess" colspan="2">
											<div class="title">Conference - Schedule TBD</div>
										</td>
									</tr>
									<tr>
										<td class="time">7:00-10:00 pm</td>
										<td class="slot special" colspan="2">
											<div class="title">Unsessions</div>
										</td>
									</tr>
								</tbody></table>

								<header><h3>saturday, apr 16</h3></header>
								<table><tbody>
									<tr>
										<th class="recess">&nbsp;</th>
										<th class="recess">Ballroom</th>
									</tr>
									<tr>
										<td class="time">9:00-5:00 pm</td>
										<td class="slot recess" colspan="2">
											<div class="title">Conference - Schedule TBD</div>
										</td>
									</tr>
									<tr>
										<td class="time">7:00-10:00 pm</td>
										<td class="slot special" colspan="2">
											<div class="title">Party</div>
										</td>
									</tr>
								</tbody></table>
								
								<h2>meetups</h2>
								<p>Sponsored by <a href="http://cognitect.com">Cognitect</a>, signups available soon.</p>
					
								<center><div>
									<ul>
										<li>Fri Apr 15 - <a href="meetups.html#bit">Blacks in Tech lunch</a></li>
										<li>Fri Apr 15 - <a href="meetups.html#lambda">Lambda Ladies dinner</a></li>
										<li>Sat Apr 16 - <a href="meetups.html#lgbtqia">LGBTQIA lunch</a></li>
									</ul>
								</div></center>								

			<header class="major">
			  <h2><a id="location">location</a></h2>
			</header>
				
			<section>
				<a href="http://www.marriott.com/hotels/travel/seawf-seattle-marriott-waterfront/" class="image"><img src="images/smw.jpg" alt="Seattle Marriott Waterfront" /></a>
				<header>
				  <h3>&nbsp;<br>seattle marriott waterfront</h3>
				</header>
				<p>2100 Alaskan Way <br>
					Seattle, WA 98121 </p>

				<p><a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Cognitect%20Clojure/West%20%20Annual%20Conference%20%5Eseawf%60cogcoga%60179.00%60USD%60false%601%604/12/16%604/17/16%6003/18/16&app=resvlink&stop_mobi=yes">Book your room</a> in the conference hotel for $179/night.</p>
				<br/>
			</section>

			<header class="major">
			  <h2><a id="location">Code of Conduct</a></h2>
		  </header>

			<section>
				<p>Clojure/west is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity, sexual orientation, disability, physical appearance, body size, race or religion. We do not tolerate harassment of conference participants in any form. </p>
				<p><a href="policies">Read the rest of the Code of Conduct</a></p>
				<br/>
			</section>

			<!-- Sponsors -->
			<section>
				<header>
				  <h2>platinum sponsors</h2>
				</header>
			</section>
						
			<div class="row half">
				<div class="12u">
					<section> 
						<a href="http://www.staples-sparx.com/" class="logo"><img src="images/sponsors/sparx.jpg" alt="SparX" height="180" title="SparX" /></a>
					</section>
				</div>
			</div>
			<br/>
			
			<section>
				<header>
				  <h2>silver sponsors</h2>
				</header>
			</section>
						
			<div class="row half">
				<div class="4u">
					<section> 
						<a href="http://homegrown.io/" class="logo"><img src="images/sponsors/homegrownlabs.png" alt="Homegrown Labs" width="220" title="Homegrown Labs" /></a>
					</section>
				</div>
				<div class="4u">
					<section>
						<a href="https://flipboard.com/" class="logo"><img src="images/sponsors/flipboard.png" alt="Flipboard" width="220" title="Flipboard" /></a>
						</section>
				</div>
				<div class="4u">
					<section>
						<a href="https://farmlogs.com/" class="logo"><img src="images/sponsors/farmlogs.jpg" alt="FarmLogs" width="220" title="FarmLogs" /></a>
						</section>
				</div>
			</div>

			<section>
				<header>
				  <h2>supporting sponsors</h2>
				</header>
			</section>

			<div class="row half">
				<div class="4u">
					<section>
						<a href="http://adzerk.com/" class="logo"><img src="images/sponsors/adzerk.jpg" alt="Adzerk" width="220" title="Adzerk" /></a>
					</section>
				</div>
				<div class="4u">
					<section>
						<a href="https://www.concur.com/" class="logo"><img src="images/sponsors/concur.jpg" alt="Concur" width="220" title="Concur" /></a>
					</section>
				</div>
				<div class="4u">
					<section>
						<a href="http://www.juxt.com/" class="logo"><img src="images/sponsors/juxt.jpg" alt="Juxt" width="200" title="Juxt" /></a>
					</section>
				</div>
			</div>

			<section>
				<header>
				  <h2>lanyard sponsors</h2>
				</header>
			</section>

			<div class="row half">
				<div class="12u">
					<section>
						<a href="http://www.8thlight.com/" class="logo"><img src="images/sponsors/8thlight.png" alt="8th Light" width="140" title="8th Light" /></a>
					</section>
				</div>
			</div>

			<section>
				<header>
				  <h2>partners</h2>
				</header>
			</section>

			<div class="row half">
				<div class="4u">
					<section>
						<a href="https://www.blacksintechnology.net/" class="logo"><img src="images/sponsors/bit.jpg" alt="Blacks in Technology" width="220" title="Blacks in Technology" /></a>
					</section>
				</div>
				<div class="4u">
					<section>
						<a href="http://www.lambdaladies.com/" class="logo"><img src="images/sponsors/lambdaladies.png" alt="Lambda Ladies" width="96" title="Lambda Ladies" /></a>
					</section>
				</div>
				<div class="4u">
					<section>
						<a href="http://www.clojurebridge.org/" class="logo"><img src="images/sponsors/clojurebridge.png" alt="ClojureBridge" width="96" title="ClojureBridge" /></a>
					</section>
				</div>
			</div>
	</article>

	<!-- CTA -->
	<section id="cta">			
		<header>
		  <h2>Ready to <strong>join us</strong>?</h2>
		</header>
		<footer>
			<ul class="buttons">
			  <li><a href="https://ti.to/cognitect/clojure-west-2016" class="button special">register</a></li>
			  <!-- <li><a href="cfp" class="button">submit talk</a></li> -->
			  <li><a href="opportunity" class="button">opportunity grant</a></li>
			  <li><a href="sponsorship" class="button">sponsor</a></li>
			  <!-- <li><a href="http://go.cognitect.com/l/46282/2015-12-18/2lzbzx" class="button">mailing list</a></li> -->
			</ul>
		</footer>		
	</section>	
		
	{% include footer.html %}
	</body>
</html>
