<!DOCTYPE html>
<html>
{% include head.html %}

<body class="index loading">
	<div class="alt">
	  {% include header.html %}
	</div>

	<section id="banner">
				
		<!--
			".inner" is set up as an inline-block so it automatically expands
			in both directions to fit whatever's inside it. This means it won't
			automatically wrap lines, so be sure to use line breaks where
			appropriate (<br />).
		-->
		<div class="inner">
					
			<header>
				<h2>clojure / west</h2>
			</header>
			<p>april 15-16, 2016<br>
				seattle, washington<br>
			</p>
			<footer>
				<img src="images/clojure.png" height="149" width="150" alt="Clojure"/>
      	<br>
				<br>
				<ul class="buttons vertical">
					<li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
				</ul>
			</footer>
				
		</div>		
	</section>
		
			<!-- Main -->
	<article id="main">
		<header class="special container">
			<span class="icon fa-bar-chart-o"></span>
			<h2>Clojure/west 2016</h2>
			<p>Seattle, Washington<br/>
				 Seattle Marriott Waterfront<br/>
				 April 15, 9:00 am - April 16, 6:00 pm<br/>
						 
			<br/>
			<ul class="buttons">
 			  <!-- <li><a href="https://ti.to/cognitect/clojure-conj-2015" class="button special">register</a></li> -->
 			  <li><a href="sponsorship" class="button special">become a sponsor</a></li>
			  <li><a href="cfp" class="button special">submit talk</a></li>
			  <li><a href="opportunity" class="button special">opportunity grant</a></li>
			  <!-- <li><a href="http://go.cognitect.com/l/46282/2015-12-18/2lzbzx" class="button special">mailing list</a></li> -->
			</ul>

			<h2>About Clojure/west</h2>
			<p>Clojure/west is the biggest Clojure conference in the western United States.<br/>
					Founded in 2012, the conference is a great place to meet Clojure developers and<br/>
					learn about what is happening in the language, in the community, and in companies<br/>
					using Clojure. Clojure/west features two tracks of sessions.</p>
			<br/>
			<p>This year's event will be held for the first time in Seattle, Washington.<br/>
					Last year's event in Portland was the biggest yet with 450 attendees and we<br/>
					expect to be as big or bigger this year. Registration will open in late January - stay tuned!</p>
			<br/>

			<h2>Call for Presentations</h2>
			<p>The Clojure/west <a href="cfp">Call for Presentations</a> is now open until Jan 29th!</p>
			<br/>

			<h2>Last Year</h2>
			<p>Check out what happened last year:</p>
			<br/>
			<h3><a href="speakers-2015" class="button special">2015 Speakers</a>
					<a href="https://www.youtube.com/playlist?list=PLZdCLR02grLrKAOj8FJ1GGmNM5l7Okz0a" class="button special">2015 Session Videos</a></h3>
		</header>

		<section class="wrapper style3 container special">
			<header class="major">
			  <h2><a id="location">location</a></h2>
			</header>
				
			<section>
				<a href="http://www.marriott.com/hotels/travel/seawf-seattle-marriott-waterfront/" class="image"><img src="images/smw.jpg" alt="Seattle Marriott Waterfront" /></a>
				<header>
				  <h3>&nbsp;<br>seattle marriott waterfront</h3>
				</header>
				<p>2100 Alaskan Way <br>
					Seattle, WA 98121 </p>

				<p><a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Cognitect%20Clojure/West%20%20Annual%20Conference%20%5Eseawf%60cogcoga%60179.00%60USD%60false%601%604/12/16%604/17/16%6003/18/16&app=resvlink&stop_mobi=yes">Book your room</a> in the conference hotel for $179/night.</p>
				<br/>
			</section>

			<header class="major">
			  <h2><a id="location">Code of Conduct</a></h2>
		  </header>

			<section>
				<p>Clojure/west is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race or religion. We do not tolerate harassment of conference participants in any form. </p>
				<p><a href="policies">Read the rest of the Code of Conduct</a></p>
				<br/>
			</section>

			<!-- Sponsors -->
			<section>
				<header>
				  <h2>silver sponsors</h2>
				</header>
			</section>
						
			<div class="row half">
				<div class="12u">								
					<section> 
						<a href="http://homegrown.io/" class="logo"><img src="images/sponsors/homegrownlabs.png" alt="Homegrown Labs" width="220" title="Homegrown Labs" /></a>
					</section>														
				</div>
			</div>
														
			<section>
				<header>
				  <h2>supporting sponsors</h2>
				</header>
			</section>
						
			<div class="row half">
				<div class="12u">								
					<section> 
						<a href="http://adzerk.com/" class="logo"><img src="images/sponsors/adzerk.png" alt="Adzerk" width="220" title="Adzerk" /></a>
					</section>														
				</div>
			</div>
														
		</section>					
	</article>

	<!-- CTA -->
	<section id="cta">			
		<header>
		  <h2>Ready to <strong>join us</strong>?</h2>
		</header>
		<footer>
			<ul class="buttons">
			  <!-- <li><a href="http://" class="button special">register</a></li> -->
			  <li><a href="sponsorship" class="button">sponsor</a></li>
			  <li><a href="cfp" class="button">submit talk</a></li>
			  <li><a href="opportunity" class="button">opportunity grant</a></li>
			  <!-- <li><a href="http://go.cognitect.com/l/46282/2015-12-18/2lzbzx" class="button">mailing list</a></li> -->
			</ul>
		</footer>		
	</section>	
		
	{% include footer.html %}
	</body>
</html>
